table#GameTable td {
    width: 30px;
    height: 30px;
    border: 1px solid black;

}

table#GameTable {
    border-collapse: collapse;
}

.alive {
    background-color: blue;
}

.dead {
    background-color: white;
}
